@mixin chart-bar($size, $color) {
    .top { z-index: 2; }
    .bottom { z-index: 1;}
    &:hover {
        .top { 
            background-color: $color;
            margin-left: $size;
            z-index: 4; 
        }
        .bottom {
            width: $size + 4rem;
            background: $color linear-gradient(-90deg, lighten($color, 10%), darken($color, 10%));
            z-index: 3;
        }
    }
}

/* HTML ELEMENTS */
html {
    font-size: 62.5%; // 1rem === 10px
}

body { 
	background-image: radial-gradient(#364D58,#000); 
	color: #555;
}


/* WRAPPER */
#wrapper { width: 80rem; margin: 4rem auto; }

/* CONTENT */
#content h2 {
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 3rem; 
	font-weight: bold;
	color: #eee;
	text-shadow: 0px .2rem .6rem #333;
	margin-left: 40rem;
	padding-top: 2rem;
}

/* BAR CHART */
#bar { 
    list-style:none;  

    /* Last bottom should have a shadow */
    li {
        .bottom {
            box-shadow: 0 1rem 3rem rgba(0,0,0, .2);
            position:relative;
            margin: .5rem 0;
            width: 5rem;
            height: 10rem; 
            border-radius: 4rem/10rem;
            background: #97a7a9 linear-gradient(-90deg, #97a7a9, #b8cbcd); 
            transition: all .5s;

            .infobox {
                padding: 4rem 0 0 60rem;
                transition: color .5s;

                h3 {
                    font-family: Georgia,serif,Times;
                }

                p { 
                    font-family:"Lucida Grande",Arial,Helvetica,Sans-Serif;
                    opacity: 0;
                    transition: opacity .5s;
                }
            }
        }

        /* Ellipse top */
        .top {
            background-color: rgba(213,238,241,0.5);
            position: relative;
            float: left;
            margin-left: 1rem;
            width: 4rem;
            height: 10rem;
            border-radius: 50%;
            transition: margin-left, .5s;

            img {
                margin-left: 1rem;
                margin-top: 1.5rem;
            }
        }

        &:hover {
            .infobox {
                color: #eee;
                text-shadow: 0px .5rem .5rem #111; 

                p {
                    opacity: 1;
                }
            }
        }
    }

    #iphone {
        @include chart-bar(16rem, #1f81ac)
    }
    #macbook {
        @include chart-bar(21rem, #bc003c)
    }
    #ipod {
        @include chart-bar(27rem, #d98f23)
    }
    #cinema {
        @include chart-bar(11rem, #7da864)
    }
    #macmini {
        @include chart-bar(13rem, #3f1150)
    }
}

