.split-text {
    margin: 0;
    padding: 0;
    font-size: 6rem;
    color: transparent;
    text-transform: uppercase;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;

    &__part {
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        overflow: hidden;
        transition-duration: .5s;

        &--1 { clip-path: polygon(0 0, 100% 0, 100% 45%, 0 55%); }
        &--2 { clip-path: polygon(0 100%, 100% 100%, 100% 45%, 0 55%); }
    }

    &__sub {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scaleY(0);
        clip-path: polygon(0 15%, 100% 0, 100% 85%, 0 100%);
        font-size: 2rem;
        padding: 1rem;
        width: 96%;
        background-color: yellow;
        text-align: center;
        transition-duration: .5s;
        color: black;
        font-weight: 500;
        letter-spacing: .4rem;
        z-index: -1;
    }

    &:hover &__part {
        &--1 {
            transform: translateY(-1.8rem);
            clip-path: polygon(0 0, 100% 0, 100% 55%, 0 45%);
        }

        &--2 {
            transform: translateY(1.8rem);
            clip-path: polygon(0 100%, 100% 100%, 100% 55%, 0 45%);
        }
    }

    &:hover &__sub {
        transform: translate(-50%, -50%) scaleY(1);
        clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);
    }
}