html {
      font-size: 62.5%; // 1rem === 10px
}

.landing {
      display: flex;
      justify-content: space-around;
      height: 100vh;
}

.distortion {
      min-width: 64rem;
      min-height: 92rem;
      object-fit: cover;
}

.intro {
      h1 {font-size: 5rem; }
      p { font-size: 2.5rem; }
}