@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.container {
	background-color: #232323;
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	
	svg {
		max-width: 45rem;
		width: 100%;
		height: auto;
		fill: none;
		stroke: white;
		stroke-width: 12;

		g {
			stroke: none;
			fill: none;
			fill-rule: evenodd;
			fill-opacity: 0;

			text {
				stroke: #fff;
				font-weight: normal;
				font-family: 'Indie Flower', cursive;
				font-size: 8rem;
			}
		}
		
		tspan > tspan {
			stroke-dasharray: 1500;
			stroke-dashoffset: -1500;	

			@for $i from 1 through 15 {
				
				&:nth-of-type(#{$i}) {
					animation: draw 300ms #{$i * 150}ms forwards;
				}
				
			}
		}
	}
}

@keyframes draw {
	to { stroke-dashoffset: 0; }
}