.share-circle {
    width: 5rem;
    height: 5rem;
    z-index: 10;

    &__share {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #607d8b;
        border: 2px solid #112833;
    }

    &__items {
        position: absolute;
        margin: 0;
        top: -5.1rem;
        left: -5.1rem;
        width: 15rem;
        height: 15rem;
        background-color: #fff;
        border-radius: 50%;
        transition-duration: .5s;
        border: 2px solid black;
        box-shadow: 0 0 0 2px white;
        z-index: -1;
        transform: scale(.25) rotate(-180deg);
        opacity: 0;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 49.5%;
            left: 0;
            width: 101%;
            height: 2px;
            background-color: #112833;
        }

        &::before { transform: rotate(45deg); }
        &::after { transform: rotate(-45deg); }
    }

    &__icon {
        z-index: 1;
        width: 2rem;
        height: 2rem;
        fill: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -55%);
        z-index: 1;
    }

    &__item {
        list-style-type: none;
        position: absolute;
        
        &:first-child {
            left: 50%;
            top: 2.5rem;
        }

        &:nth-child(2) {
            right: 2.5rem;
            top: 50%;
        }

        &:nth-child(3) {
            bottom: 2.5rem;
            left: 50%;
        }

        &:last-child {
            left: 2.5rem;
            top: 50%;
        }
    }

    &__item &__icon {
        width: 1.5rem;
        height: 1.5rem;
        fill: #112833;
        transition-duration: .5s;

        &:hover {
            transform: scale(1.5) translate(-42%, -45%);
            fill: red;
        }
    }

    &:hover &__items {
        transform: scale(1) rotate(0);
        opacity: 1;
        box-shadow: 0 0 0 2px white,
                    0 .5rem 3rem black;
    }
}