* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: black;
  overflow-x: hidden;
  max-width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: radial-gradient(circle at center, #E6D7A9, #F9A624 35%, black);
}

.no-select {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.furry {
  width: 50rem;
  position: relative;
  -webkit-filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.3)) drop-shadow(0 0 3rem rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 0 1rem rgba(0, 0, 0, 0.3)) drop-shadow(0 0 3rem rgba(0, 0, 0, 0.1));
  -webkit-animation: jump .75s infinite alternate ease-in-out;
          animation: jump .75s infinite alternate ease-in-out;
}

.furry__shadow {
  background: radial-gradient(rgba(0, 0, 0, 0.3), transparent 70%);
  width: 80%;
  height: 7.5rem;
  margin: 0 auto;
  -webkit-animation: move-shadow .75s infinite alternate  ease-in-out;
          animation: move-shadow .75s infinite alternate  ease-in-out;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.furry__face {
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  overflow: visible;
}

.furry__face .furry__eye {
  top: 0;
  width: 10rem;
}

.furry__face .furry__eye, .furry__face .furry__eye > * {
  position: absolute;
}

.furry__face .furry__eye--left {
  left: -5.26316rem;
  -webkit-transform: translate(-50%, -10rem);
          transform: translate(-50%, -10rem);
}

.furry__face .furry__eye--right {
  right: -5.26316rem;
  -webkit-transform: translate(50%, -10rem) rotateY(180deg);
          transform: translate(50%, -10rem) rotateY(180deg);
}

.furry__face .furry__eye--shadow {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.furry__face .furry__eye--cornea {
  -webkit-transform: scale(0.55) translate(30%, -10%);
          transform: scale(0.55) translate(30%, -10%);
  -webkit-animation: move-eye-cornea .75s infinite alternate;
          animation: move-eye-cornea .75s infinite alternate;
}

.furry__face .furry__eye--pupil {
  -webkit-transform: scale(0.35) translate(65%, -10%);
          transform: scale(0.35) translate(65%, -10%);
  -webkit-animation: move-eye-pupil .75s infinite alternate;
          animation: move-eye-pupil .75s infinite alternate;
}

.furry__face .furry__eye--flash {
  -webkit-transform: scale(0.18) translate(140%, -135%) rotateY(180deg);
          transform: scale(0.18) translate(140%, -135%) rotateY(180deg);
  -webkit-animation: move-eye-flash .75s infinite alternate;
          animation: move-eye-flash .75s infinite alternate;
}

.furry__face .furry__nose {
  position: absolute;
  width: 5rem;
  top: 3.33333rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.furry.eyes-centered .furry__eye--cornea {
  -webkit-transform: scale(0.55) !important;
          transform: scale(0.55) !important;
}

.furry.eyes-centered .furry__eye--pupil {
  -webkit-transform: scale(0.35) !important;
          transform: scale(0.35) !important;
}

.furry.eyes-centered .furry__eye--flash {
  -webkit-transform: scale(0.18) !important;
          transform: scale(0.18) !important;
}

@-webkit-keyframes jump {
  to {
    -webkit-transform: translateY(-7rem);
            transform: translateY(-7rem);
  }
}

@keyframes jump {
  to {
    -webkit-transform: translateY(-7rem);
            transform: translateY(-7rem);
  }
}

@-webkit-keyframes move-shadow {
  to {
    -webkit-transform: translateY(6rem) scale(0.8);
            transform: translateY(6rem) scale(0.8);
  }
}

@keyframes move-shadow {
  to {
    -webkit-transform: translateY(6rem) scale(0.8);
            transform: translateY(6rem) scale(0.8);
  }
}

@-webkit-keyframes move-eye-cornea {
  to {
    -webkit-transform: scale(0.55) translate(20%, 40%);
            transform: scale(0.55) translate(20%, 40%);
  }
}

@keyframes move-eye-cornea {
  to {
    -webkit-transform: scale(0.55) translate(20%, 40%);
            transform: scale(0.55) translate(20%, 40%);
  }
}

@-webkit-keyframes move-eye-pupil {
  to {
    -webkit-transform: scale(0.35) translate(40%, 130%);
            transform: scale(0.35) translate(40%, 130%);
  }
}

@keyframes move-eye-pupil {
  to {
    -webkit-transform: scale(0.35) translate(40%, 130%);
            transform: scale(0.35) translate(40%, 130%);
  }
}

@-webkit-keyframes move-eye-flash {
  to {
    -webkit-transform: scale(0.2) rotateY(180deg) translate(-60%, 25%);
            transform: scale(0.2) rotateY(180deg) translate(-60%, 25%);
  }
}

@keyframes move-eye-flash {
  to {
    -webkit-transform: scale(0.2) rotateY(180deg) translate(-60%, 25%);
            transform: scale(0.2) rotateY(180deg) translate(-60%, 25%);
  }
}

.stop-anim, .stop-anim * {
  -webkit-animation-play-state: paused !important;
          animation-play-state: paused !important;
}
/*# sourceMappingURL=style.css.map */