html {
  font-size: 62.5%;
}

html, body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: linear-gradient(25deg, #e47900, #ffc077);
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.popup {
  max-width: 90%;
  max-height: 90%;
  width: 100rem;
  height: 60rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background: linear-gradient(25deg, #181717, #2f2f2f);
  border-radius: 1rem;
  -webkit-box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5), inset 0 0 0.5rem rgba(0, 0, 0, 0.3);
          box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5), inset 0 0 0.5rem rgba(0, 0, 0, 0.3);
}

label {
  position: relative;
  width: 240px;
  height: 80px;
  cursor: pointer;
  margin: 20px 0;
}

label input {
  display: none;
}

label .check {
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background: #101010;
  border-radius: 40px;
  -webkit-box-shadow: 0 0 0 4px #101010;
          box-shadow: 0 0 0 4px #101010;
}

label .check::before {
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  left: -30px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #f00;
  -webkit-box-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 20px #f00, 0 0 40px #f00, 0 0 80px #f00;
          box-shadow: 0 0 5px #f00, 0 0 10px #f00, 0 0 20px #f00, 0 0 40px #f00, 0 0 80px #f00;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

label .check::after {
  content: '';
  position: absolute;
  top: calc(50% - 4px);
  right: -30px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #101010;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

label .btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 80px;
  background: #333;
  border-radius: 40px;
  -webkit-box-shadow: inset 0 -20px 15px #292929, inset 0 20px 15px #292929;
          box-shadow: inset 0 -20px 15px #292929, inset 0 20px 15px #292929;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

label .btn::before, label .btn::after {
  content: '';
  position: absolute;
  top: 0;
  width: 52px;
  height: 80px;
  background: #252525;
  -webkit-box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3);
          box-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.3);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

label .btn::before {
  left: 0;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
}

label .btn::after {
  right: 0;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
}

label input:checked + .check::after {
  background: #00ff00;
  -webkit-box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
          box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 40px #00ff00, 0 0 80px #00ff00;
}

label input:checked + .check::before {
  background: #101010;
  -webkit-box-shadow: none;
          box-shadow: none;
}

label input:checked ~ .btn {
  left: 50%;
}
/*# sourceMappingURL=main.css.map */