:root {
  font-size: 62.5%;
}

.menu {
  -webkit-filter: url("#shadowed-goo");
          filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
  background: #ff4081;
  border-radius: 100%;
  width: 8rem;
  height: 8rem;
  margin-left: -4rem;
  position: absolute;
  fill: white;
  text-align: center;
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 2.5rem;
  height: 3px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.25rem;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.hamburger-1 {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
}

.hamburger-3 {
  -webkit-transform: translateY(0.8rem);
          transform: translateY(0.8rem);
}

.menu {
  position: fixed;
  left: 50%;
  margin-left: -19rem;
  padding-top: 2rem;
  padding-left: 19rem;
  width: 38rem;
  height: 25rem;
}

.menu-item {
  -webkit-transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-item:hover {
  background-color: white;
  fill: #ff4081;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 70ms;
          transition-duration: 70ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 130ms;
          transition-duration: 130ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 190ms;
          transition-duration: 190ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.menu-item:nth-child(7) {
  -webkit-transition-duration: 310ms;
          transition-duration: 310ms;
}

.menu-open-button {
  overflow: hidden;
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 160ms;
          transition-duration: 160ms;
  -webkit-transform: translate3d(9.95004rem, 0.99833rem, 0);
          transform: translate3d(9.95004rem, 0.99833rem, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 240ms;
          transition-duration: 240ms;
  -webkit-transform: translate3d(6.71178rem, 7.41297rem, 0);
          transform: translate3d(6.71178rem, 7.41297rem, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 320ms;
          transition-duration: 320ms;
  -webkit-transform: translate3d(0.00796rem, 10.0rem, 0);
          transform: translate3d(0.00796rem, 10.0rem, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(-6.69996rem, 7.42365rem, 0);
          transform: translate3d(-6.69996rem, 7.42365rem, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 480ms;
          transition-duration: 480ms;
  -webkit-transform: translate3d(-9.94844rem, 1.01418rem, 0);
          transform: translate3d(-9.94844rem, 1.01418rem, 0);
}

.menu-open:checked + .menu-open-button .hamburger {
  -webkit-animation-fill-mode: forwards !important;
          animation-fill-mode: forwards !important;
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-animation: hamburger-1 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: hamburger-1 0.9s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-animation: hamburger-2 0.9s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: hamburger-2 0.9s 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-animation: hamburger-3 0.9s 0.05s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          animation: hamburger-3 0.9s 0.05s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.menu-open:checked:hover + .menu-open-button {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-item__icon {
  width: 40%;
  height: 40%;
  -webkit-filter: drop-shadow(1px 1px 0.3rem rgba(0, 0, 0, 0.6));
          filter: drop-shadow(1px 1px 0.3rem rgba(0, 0, 0, 0.6));
  position: relative;
}

.menu-item__more--ball {
  position: absolute;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.menu-item__more--ball--1 {
  left: 15%;
}

.menu-item__more--ball--3 {
  left: 85%;
}

.menu-item__more:hover .menu-item__more--ball {
  background-color: #ff4081;
}

.menu-item__more:hover .menu-item__more--ball--1 {
  -webkit-animation: more-jump 2s ease-in-out infinite;
          animation: more-jump 2s ease-in-out infinite;
}

.menu-item__more:hover .menu-item__more--ball--2 {
  -webkit-animation: more-jump 2s .2s ease-in-out infinite;
          animation: more-jump 2s .2s ease-in-out infinite;
}

.menu-item__more:hover .menu-item__more--ball--3 {
  -webkit-animation: more-jump 2s .4s ease-in-out infinite;
          animation: more-jump 2s .4s ease-in-out infinite;
}

.menu-item__checkbox {
  display: none;
}

@-webkit-keyframes hamburger-2 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    -webkit-transform: translateY(5rem) rotate(-90deg) scale(0.8);
            transform: translateY(5rem) rotate(-90deg) scale(0.8);
  }
}

@keyframes hamburger-2 {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  30% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  to {
    -webkit-transform: translateY(5rem) rotate(-90deg) scale(0.8);
            transform: translateY(5rem) rotate(-90deg) scale(0.8);
  }
}

@-webkit-keyframes hamburger-1 {
  30% {
    -webkit-transform: translate(5rem, -0.8rem) rotate(-10deg);
            transform: translate(5rem, -0.8rem) rotate(-10deg);
  }
  31% {
    -webkit-transform: translate(5rem, -5rem) rotate(-40deg);
            transform: translate(5rem, -5rem) rotate(-40deg);
  }
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@keyframes hamburger-1 {
  30% {
    -webkit-transform: translate(5rem, -0.8rem) rotate(-10deg);
            transform: translate(5rem, -0.8rem) rotate(-10deg);
  }
  31% {
    -webkit-transform: translate(5rem, -5rem) rotate(-40deg);
            transform: translate(5rem, -5rem) rotate(-40deg);
  }
  to {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

@-webkit-keyframes hamburger-3 {
  30% {
    -webkit-transform: translate(-5rem, 0.8rem) rotate(10deg);
            transform: translate(-5rem, 0.8rem) rotate(10deg);
  }
  31% {
    -webkit-transform: translate(-5rem, -5rem) rotate(40deg);
            transform: translate(-5rem, -5rem) rotate(40deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@keyframes hamburger-3 {
  30% {
    -webkit-transform: translate(-5rem, 0.8rem) rotate(10deg);
            transform: translate(-5rem, 0.8rem) rotate(10deg);
  }
  31% {
    -webkit-transform: translate(-5rem, -5rem) rotate(40deg);
            transform: translate(-5rem, -5rem) rotate(40deg);
  }
  to {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@-webkit-keyframes more-jump {
  33% {
    -webkit-transform: scale(1.1) translate(-50%, -100%);
            transform: scale(1.1) translate(-50%, -100%);
  }
  67% {
    -webkit-transform: scale(1.1) translate(-50%, 0);
            transform: scale(1.1) translate(-50%, 0);
  }
}

@keyframes more-jump {
  33% {
    -webkit-transform: scale(1.1) translate(-50%, -100%);
            transform: scale(1.1) translate(-50%, -100%);
  }
  67% {
    -webkit-transform: scale(1.1) translate(-50%, 0);
            transform: scale(1.1) translate(-50%, 0);
  }
}

.u-disable-select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=style.css.map */